.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  gap: 50px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (min-width: 1024px) {
  .menuBar {
    display: none;
  }
}

.search {
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 20px;
  left: 15px;
}

.input {
  background-color: #fff;
  border: none;
  color: var(--text);
}

.icons {
  display: flex;
  gap: 20px;
}
